* {

	font-family: "Comic Sans MS", sans-serif;

}

h2 {

	text-align: center;
	margin-top: 0;

}

button {

	margin: 5px;

}

#buttons-view {

	padding: 20px;

}

.col-lg-2 {

	padding-top: 20px;
}

#buttons-input {

	margin-bottom: 5px;

}

.gif {

	border-bottom: 2px solid black;
	margin-bottom: 10px;

}

.gifDiv {

	float: left;
	border: 2px solid black;
	border-radius: 5px;
	background-color: lemonchiffon;
	margin-right: 15px;
	margin-bottom: 20px;


}